@model BrowseStateModel
@{ ViewBag.Title = "State Details"; }

@section Scripts {
	<script type="text/javascript">
		$(function () { $('div.dataTablesGrid').AjaxDataTablesGrid(); });
	</script>
}

<div class="x6 xColumn">

	<div class="portlet x12">
		<div class="portlet-header">
			<h4>State</h4>
			<ul class="portlet-tab-nav">
				<li class="portlet-tab-nav-ignore"><a href="@Url.Action(MVC.Export.States(Model.Id))">Export tree data</a></li>
			</ul>
		</div>
		<div class="portlet-content">
			<table class="reports_table">
				@Html.ReportDisplayFor(m => m.Name)
				@Html.ReportDisplayFor(m => m.Code)
				@Html.ReportDisplayFor(m => m.RHI5)
				@Html.ReportDisplayFor(m => m.RHI10)
				@Html.ReportDisplayFor(m => m.RHI20)
				@Html.ReportDisplayFor(m => m.RGI5)
				@Html.ReportDisplayFor(m => m.RGI10)
				@Html.ReportDisplayFor(m => m.RGI20)
        @Html.ReportDisplayFor(m => m.TreesMeasuredCount)
        @Html.ReportDisplayFor(m => m.LastMeasurementDate)
			</table>
		</div>
	</div>

	<div class="portlet x12">
		<div class="portlet-header"><h4>Species</h4></div>
		<div class="portlet-content">
			@Html.Partial("StateSpeciesGridPartial", Model.StateSpeciesModel)
		</div>
	</div>

</div>

<div class="x6 xColumn">

	<div class="portlet x12">
		<div class="portlet-header">
			<h4>Location</h4>
		</div>
		<div class="portlet-content">
			<table class="reports_table">
				@Html.ReportDisplayFor(m => m.Coordinates)
				@Html.ReportDisplayFor(m => m.Country)
			</table>
		</div>
	</div>

	<div class="portlet x12">
		<div class="portlet-header"><h4>Sites</h4></div>
		<div class="portlet-content">
			@Html.Partial("SitesGridPartial", Model.SitesModel)
		</div>
	</div>

</div>
