@model TMD.Models.ImportFinishedTripModel
<div class="portlet x12 Site">        
    <div class="portlet-header Entity-Header Trip-Header">
        <h4>@Model.Name</h4>
    </div>
    <div class="portlet-content">
        <ul>
            @Html.SummaryDisplayFor(m => m.Date)
            @Html.SummaryDisplayFor(m => m.MeasurerContactInfo)
            @Html.SummaryDisplayFor(m => m.FirstMeasurer)
            @Html.IfSpecifiedSummaryDisplayFor(m => m.SecondMeasurer)
            @Html.IfSpecifiedSummaryDisplayFor(m => m.ThirdMeasurer)
        </ul>
        @for (int siteIndex = 0; siteIndex < Model.Sites.Count; siteIndex++) { 
            @Html.DisplayFor(m => m.Sites[siteIndex])
        }
    </div>
</div>
