@model TMD.Models.ImportSubsiteModel
<div class="portlet x12 Subsite">        
    <div class="portlet-header Entity-Header Subsite-Header">
        <h4>@Model.Name</h4>
    </div>
    <div class="portlet-content">
        <ul>
            @Html.SummaryDisplayFor(m => m.State)
            @Html.SummaryDisplayFor(m => m.County)
            @Html.SummaryDisplayFor(m => m.OwnershipType)
        </ul>
        @if (Model.Photos.Count > 0) {
            @Html.DisplayFor(m => m.Photos)
        }
    </div>
</div>
