@model ImportFinishedTreeModel
<div class="portlet x12 Tree">
    <div class="portlet-header Entity-Header Tree-Header">
        <h4>@(Model.ScientificName.NullIfEmpty() ?? "(Unknown)")</h4>
    </div>
    <div class="portlet-content">
        <ul>
            @Html.SummaryDisplayFor(m => m.CommonName)
            @Html.IfSpecifiedSummaryDisplayFor(m => m.Height)
            @Html.IfSpecifiedSummaryDisplayFor(m => m.Girth)
            @Html.IfSpecifiedSummaryDisplayFor(m => m.CrownSpread)
        </ul>
        @if (Model.Photos.Count > 0) {
            @Html.DisplayFor(m => m.Photos)
        }
    </div>
</div>
