@model ImportFinishedSiteModel
<div class="portlet x12 Site">
    <div class="portlet-header Entity-Header Site-Header">
        <h4>@Model.Name</h4>
    </div>
    <div class="portlet-content">
        @if (Model.Subsites.Count == 1) {
            <ul>
                @Html.SummaryDisplayFor(m => m.Subsites[0].State)
                @Html.SummaryDisplayFor(m => m.Subsites[0].County)
                @Html.SummaryDisplayFor(m => m.Subsites[0].OwnershipType)
            </ul>
            if (Model.Subsites[0].Photos.Count > 0) {
                @Html.DisplayFor(m => m.Subsites[0].Photos)
            }
            for (int treeIndex = 0; treeIndex < Model.Subsites[0].Trees.Count; treeIndex++) {
                @Html.DisplayFor(m => m.Subsites[0].Trees[treeIndex])
            }
        } else {
            for (int subsiteIndex = 0; subsiteIndex < Model.Subsites.Count; subsiteIndex++) {
                @Html.DisplayFor(m => m.Subsites[subsiteIndex])
            }
        }
    </div>
</div>
