@model IEnumerable<ErrorModel.CompatibleBrowser>
@{ ViewBag.Title = "Incompatible Browser"; }
<div class="content_front">
	<div class="pad">
		<h2>This page may be incompatible</h2>
		<p>
			Sorry, this page hasn't been tested with your browser yet.  Please try one of these instead:
		</p>
		<ul>
            @foreach (var compatibleBrowser in Model) { 
			<li style="@(compatibleBrowser.IsRecommended ? "font-weight: bold;" : string.Empty)">
				@if (string.IsNullOrEmpty(compatibleBrowser.DownloadUrl)) { 
					@(compatibleBrowser.DisplayName ?? compatibleBrowser.Browser) @compatibleBrowser.MajorVersion@(compatibleBrowser.IncludeFutureMajorVersions ? "+" : string.Empty) @(compatibleBrowser.IsRecommended ? "(recommended)" : string.Empty)
				} else {
					<a href="@compatibleBrowser.DownloadUrl" target="_blank">@(compatibleBrowser.DisplayName ?? compatibleBrowser.Browser) @compatibleBrowser.MajorVersion@(compatibleBrowser.IncludeFutureMajorVersions ? "+" : string.Empty) @(compatibleBrowser.IsRecommended ? "(recommended)" : string.Empty)</a>    
                }
			</li>
            }
		</ul>
		<p>
            Or, email <a href="mailto:@WebApplicationRegistry.Settings.WebmasterEmail">@WebApplicationRegistry.Settings.WebmasterEmail</a> to get your browser added to this list.
		</p>
        @using (Html.BeginForm(MVC.Error.BypassBrowserCheck())) { 
            @Html.Hidden("ReturnUrl", Url.RequestContext.HttpContext.Request.RawUrl)
			<div class="field">
				<span class="label">&nbsp;</span>
				<div>
					<button type="submit" class="btn">Ignore this warning and continue anyway</button>
				</div>
			</div> <!-- .field -->
        }
	</div>
</div>
