@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.StaticContent(Links.css.Import_css)" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    @Scripts.Render("~/js/Import.js")
    @RenderSection("Scripts", false) 
}

<div class="portlet x12">
    <div class="portlet-header">
        @RenderSection("StepHeader")
    </div>
    <div class="portlet-content">
        @RenderBody()
    </div>
</div>