@model TMD.Models.ImportFinishedTripModel
@{ ViewBag.Title = "Import Finish"; Layout = "~/Views/Import/_WizardLayout.cshtml"; }

@section Steps {
<ol>
    <li>@Html.ActionLink("Start", Mvc.Import.Start(Model.Id))</li>
    <li>@Html.ActionLink("Enter trip", Mvc.Import.Trip(Model.Id))</li>
    <li>@Html.ActionLink("Enter sites", Mvc.Import.Sites(null, Model.Id))</li>
    <li>@Html.ActionLink("Enter trees", Mvc.Import.Trees(null, Model.Id))</li>
    <li><strong>> @Html.ActionLink("Finish", Mvc.Import.Finish(Model.Id)) <</strong></li>
</ol>
}

@section StepHeader {
    <h4>Finish</h4>
}

@using (Html.BeginForm(Mvc.Import.Finalize(null, Model.Id), FormMethod.Post, new { @class = "form" })) {
    @Html.DisplayFor(m => m)
    <div class="buttonrow">
        @Html.SubmitButton("Finish")
        @Html.AnchorButton("Back", Mvc.Import.Trees(null, Model.Id), ButtonColor.Grey)
    </div>
}

