@model ImportModel

@{
  ViewBag.Title = "Import";
}

@section Styles {
  <style>
    .lead > li {
      margin-bottom: 30px;
    }
  </style>
}

@section Scripts {
  <script>
    (function () {
      var setUploadingState = function () {
        Cookies.expire('isValid', { path: '@Url.Action("Index")' });

        $('[data-state][data-state!=uploading]').hide();
        $('[data-state=uploading]').show();
      };

      var setInvalidState = function () {
        $('[data-state=invalid] form').each(function () {
          this.reset();
        });

        $('[data-state][data-state!=invalid]').hide();
        $('[data-state=invalid]').show();
      };

      var monitorUpload = function () {
        if (Cookies.get('isValid') === 'False') {
          setInvalidState();
        } else {
          setTimeout(monitorUpload, 100);
        }
      };

      $('[data-state] form').submit(function () {
        setUploadingState();

        monitorUpload();
      });
    })();
  </script>
}

@section Header {
  <h1 data-state="initial">
    <b class="glyphicon glyphicon-import"></b> Import
  </h1>

  <h1 data-state="invalid" style="display: none;">
    <b class="glyphicon glyphicon-exclamation-sign"></b> Invalid data
  </h1>

  <h1 data-state="uploading" style="display: none;">
    <b class="glyphicon glyphicon-time"></b> Please wait...
  </h1>
}

<div data-state="initial">
  <ol class="lead">
    <li>
      <p>Record measurements in your personal database:</p>

      <a class="btn btn-default" href="@Url.Action("Download", new { userID = Model.UserID })">
        <span class="glyphicon glyphicon-download-alt"></span> @string.Format("TMD {0}.xlsx", Model.UserID)
      </a>
    </li>

    <li>
      <p>Upload your database to share your recordings with the community:</p>

      @using (Html.BeginForm(null, null, FormMethod.Post, new
      {
        enctype = "multipart/form-data",
        @class = "form-inline"
      }))
      {
        @Html.AntiForgeryToken()

        <div class="form-group">
          <input type="file" name="Database" data-val="true" data-val-required="You must choose a file." class="filestyle" data-icon="false" data-buttonbefore="true" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <b class="glyphicon glyphicon-import"></b> Upload
          </button>
        </div>

        @Html.ValidationSummary()
      }
    </li>
  </ol>
</div>

<div data-state="uploading" style="display: none;">
  <p class="lead">Your database is being uploaded and validated.  This could take a minute.</p>
</div>

<div data-state="invalid" style="display: none;">
  <ol class="lead">
    <li>Open the proofed copy of your database</li>

    <li>Correct the highlighted errors</li>

    <li>
      <p>Upload your corrected copy:</p>

      @using (Html.BeginForm(null, null, FormMethod.Post, new
      {
        enctype = "multipart/form-data",
        @class = "form-inline"
      }))
      {
        @Html.AntiForgeryToken()

        <div class="form-group">
          <input type="file" name="Database" data-val="true" data-val-required="You must choose a file." class="filestyle" data-icon="false" data-buttonbefore="true" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <b class="glyphicon glyphicon-import"></b> Upload
          </button>
        </div>

        @Html.ValidationSummary()
      }
    </li>
  </ol>
</div>