@model TMD.Models.ImportSitesModel
@{ ViewBag.Title = "Import Sites"; Layout = "~/Views/Import/WizardLayout.cshtml"; }

@section Steps {
<ol>
    <li>@Html.ActionLink("Start", Mvc.Import.Start(Model.Id))</li>
    <li>@Html.ActionLink("Enter trip", Mvc.Import.Trip(Model.Id))</li>
    <li><strong>> @Html.ActionLink("Enter sites", Mvc.Import.Sites(null, Model.Id)) <</strong></li>
    <li>Enter trees</li>
    <li>Finish</li>
</ol>
}

@section StepHeader {
    <h4>Enter sites</h4>
}

@section Scripts {
    <script src="@Url.VersionedContent(Links.js.Import.Sites_js)" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('body').InitializeSitesUi();
            if ($('form.Sites .input-validation-error').length > 0) {
                $('form.Sites .input-validation-error:first').focus()
                    .closest('.Subsite, .Site').each(function () { $(this).SmoothScrollInFocus(); });
            } else {
                $('form.Sites input[type=text]:first').focus()
                    .closest('.Subsite, .Site').each(function () { $(this).SmoothScrollInFocus(); });
            }
        });
    </script>
    @{ Html.RenderAction(Mvc.Map.InitializeGoogleMaps()); }
    <script src="@Url.VersionedContent(Links.js.Map.Coordinates_js)" type="text/javascript"></script>
    <script src="@Url.VersionedContent(Links.js.Map.CoordinatePicker_js)" type="text/javascript"></script>
}

@using (Html.BeginForm(Mvc.Import.Sites(null, Model.Id), FormMethod.Post, new { @class = "form Sites" })) {
    for (int siteIndex = 0; siteIndex < Model.Sites.Count; siteIndex++) {
        if (Model.Sites[siteIndex].IsEditing) {
            @Html.EditorFor(m => m.Sites[siteIndex])
        } else {
            @Html.DisplayFor(m => m.Sites[siteIndex])
        }
     }
     <div class="buttonrow">
        @Html.ImportInnerActionButton("Continue", ImportModelLevel.Trip, Model.Id, ImportModelAction.Save)
        @Html.AnchorButton("Back", Mvc.Import.Trip(Model.Id), ButtonColor.Grey)
        @Html.ImportInnerActionButton("Add site", ImportModelLevel.Trip, Model.Id, ImportModelAction.Add, ButtonColor.Orange)
     </div>
}
