@model ImportSitesModel

@using (Html.BeginForm(MVC.Import.Sites(), FormMethod.Post, new { @class = "form Sites" }))
{
  for (int siteIndex = 0; siteIndex < Model.Sites.Count; siteIndex++)
  {
    if (Model.Sites[siteIndex].IsEditing)
    {
      @Html.EditorFor(m => m.Sites[siteIndex])
    }
    else
    {
      @Html.DisplayFor(m => m.Sites[siteIndex])
    }
  }

  <div class="buttonrow">
    @Html.ImportInnerActionButton("Continue", ImportModelLevel.Trip, Model.Id, ImportModelAction.SaveIgnoringOptionalErrors)
    @Html.AnchorButton("Back", MVC.Import.Trip(Model.Id), ButtonColor.Grey)
    @Html.ImportInnerActionButton("Add site", ImportModelLevel.Trip, Model.Id, ImportModelAction.Add, ButtonColor.Orange)
  </div>
}
