@model Nullable<Int32>
@{ ViewBag.Title = "Import Start"; Layout = "~/Views/Import/WizardLayout.cshtml"; }

@section Steps {
    <ol> 
        @if (!Model.HasValue) {
            <li><strong>> @Html.ActionLink("Start", Mvc.Import.New()) <</strong></li>
        } else {
            <li><strong>> @Html.ActionLink("Start", Mvc.Import.Start(Model.Value)) <</strong></li>
        }
        <li>Enter trip</li>
        <li>Enter sites</li>
        <li>Enter trees</li>
        <li>Finish</li>
    </ol>
}

@section StepHeader {
    <h4>Start</h4>
}

@if (!Model.HasValue) { 
    using (Html.BeginForm(Mvc.Import.StartNew(), FormMethod.Post, new { @class = "form" })) {
        @Html.Partial("StartSteps")
        <div class="buttonrow">
            @Html.SubmitButton("Continue")
        </div>
    }
}
else {
    using (Html.BeginForm(Mvc.Import.Trip(Model.Value), FormMethod.Get, new { @class = "form" })) {
        @Html.Partial("StartSteps")
        <div class="buttonrow">
            @Html.SubmitButton("Continue")
        </div>
    }
}