@model TMD.Models.ImportTreesModel
@{ ViewBag.Title = "Import Trees"; Layout = "~/Views/Import/WizardLayout.cshtml"; }

@section Steps {
    <ol>
        <li>@Html.ActionLink("Start", Mvc.Import.Start())</li>
        <li>@Html.ActionLink("Enter trip", Mvc.Import.Trip(Model.Id))</li>
        <li>@Html.ActionLink("Enter sites", Mvc.Import.Sites(null, Model.Id))</li>
        <li><strong>> @Html.ActionLink("Enter trees", Mvc.Import.Trees(null, Model.Id)) <</strong></li>
        <li>Finish</li>
    </ol>
}

@section StepHeader {
   <h4>Enter trees</h4>
}

@section Scripts {
    @{ Html.RenderAction(Mvc.Map.InitializeGoogleMaps()); }
    <script src="@Url.ManagedContent(Links.js.Map_js, Links.js.Map_min_js)" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('body').InitializeTreesUi();
            if ($('form.Trees .input-validation-error').length > 0) {
                $('form.Trees .input-validation-error:first').focus()
                    .closest('.Tree').each(function () { $(this).SmoothScrollInFocus(); });
            } else {
                $('form.Trees input[type=text]:first').focus()
                    .closest('.Tree').each(function () { $(this).SmoothScrollInFocus(); });
            }
        });
    </script>
}

@using (Html.BeginForm(Mvc.Import.Trees(null, Model.Id), FormMethod.Post, new { @class = "form Trees" })) {
    for (int i = 0; i < Model.Sites.Count; i++) {
        @Html.EditorFor(m => m.Sites[i])
    }
    <div class="buttonrow">
        @Html.ImportInnerActionButton("Continue", ImportModelLevel.Trip, Model.Id, ImportModelAction.Save)
        @Html.AnchorButton("Back", Mvc.Import.Sites(null, Model.Id), ButtonColor.Grey)
    </div>
}

