@using TMD.Model.Photos

@model MapImportTreeMarkerInfoModel

<table class="reports_table" style="width: 350px;">
    <tr>
        <td class="description" colspan="2"><strong>@Model.ScientificName</strong></td>
    </tr>
    @Html.ReportDisplayFor(m => m.CommonName)
    @Html.IfSpecifiedReportDisplayFor(m => m.Height)
    @Html.IfSpecifiedReportDisplayFor(m => m.Girth)
    @Html.IfSpecifiedReportDisplayFor(m => m.CrownSpread)
    @if (Model.Photos.Count > 0) {
        <tr>
            <td class="description">Photos</td>
            <td class="value">
                @foreach (var photo in Model.Photos) {
                    @Html.Photo(photo, PhotoSize.Square, PhotoSize.Medium);
                }
            </td>
        </tr>
    }
</table>