@model TMD.Models.MapImportSiteMarkerModel
@using TMD.Model.Photos
<table class="reports_table" style="width: 350px;">
    <tr>
        <td class="description" colspan="2"><strong>@Model.Name</strong></td>
    </tr>
    @if (Model.SubsitesCount == 1) {
        @Html.ReportDisplayFor(m => m.Subsites[0].State)
        @Html.ReportDisplayFor(m => m.Subsites[0].County)
        @Html.ReportDisplayFor(m => m.Subsites[0].OwnershipType)
        @if (Model.Subsites[0].Photos.Count > 0) {
            <tr>
                <td class="description">Photos</td>
                <td class="value">
                    @foreach (var photo in Model.Subsites[0].Photos) {
                        @Html.Photo(photo, PhotoSize.Square, PhotoSize.Medium);
                    }
                </td>
            </tr>
        }
    }
</table>