@model TMD.Models.MapSubsiteMarkerInfoModel
@using TMD.Model.Photos
<table class="reports_table" style="width: 350px;">
    <tr>
        <td class="description"><strong>@Model.Name</strong></td>
        <td class="value">@Html.ActionLink("View more details", "SiteDetails", "Browse", new { id = Model.SiteId }, null)</td>
    </tr>
    @Html.ReportDisplayFor(m => m.State)
    @Html.ReportDisplayFor(m => m.County)
    @Html.ReportDisplayFor(m => m.OwnershipType)
    @Html.IfSpecifiedReportDisplayFor(m => m.RHI5)
    @Html.IfSpecifiedReportDisplayFor(m => m.RHI10)
    @Html.IfSpecifiedReportDisplayFor(m => m.RHI20)
    @Html.IfSpecifiedReportDisplayFor(m => m.RGI5)
    @Html.IfSpecifiedReportDisplayFor(m => m.RGI10)
    @Html.IfSpecifiedReportDisplayFor(m => m.RGI20)
    @Html.ReportDisplayFor(m => m.TreesCount)
    @if (Model.Photos.Count > 0) {
        <tr>
            <td class="description">Photos</td>
            <td class="value">
                @foreach (var photo in Model.Photos) {
                    @Html.Photo(photo, PhotoSize.Square, PhotoSize.Medium);
                }
            </td>
        </tr>
    }
    @Html.ReportDisplayFor(m => m.LastVisited)
</table>