@model TMD.Models.AccountWidgetModel
<div id="info">
    <p>
        @if (!Model.IsLoggedOn) {
            if (!string.IsNullOrWhiteSpace(TempData.GetAccountMessage())) {
                @TempData.GetAccountMessage()
            } else {
                @:You are not logged on
            }
            <br />
            @:@Html.ActionLink("Logon", MVC.Account.Logon()) or @Html.ActionLink("Register", MVC.Account.Register())
        } else {
            if (!string.IsNullOrWhiteSpace(TempData.GetAccountMessage())) {
                @TempData.GetAccountMessage()
            } else {
                @:Welcome @Model.Email
            }
            <br />
            @:@Html.ActionLink("Edit account", MVC.Account.Edit()) or @Html.ActionLink("Logout", MVC.Account.Logout())
        }
    </p>
</div> <!-- #info -->