@model TMD.Models.CompleteAccountPasswordAssistanceModel
@{ ViewBag.Title = "Password Assistance"; }

@section Scripts {
	<script src="@Url.ManagedContent("~/js/jquery/jquery-1.4.4.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () { $('input[type=password]:first').focus(); });
	</script>
}

@if (Model.AssistanceComplete) {
	<div class="content_front">
		<div class="pad">
			<h2>Your password has been changed</h2>
			<p>You can now @Html.ActionLink("logon", "Logon", "Account") to your account using your new password.</p>
		</div>
	</div>
} else if (Model.CanCompletePasswordAssistance) {
	using(Html.BeginForm("CompletePasswordAssistance", "Account", FormMethod.Post, new { id = "login_form", name = "login" })) {
		<div class="content_front">
			<div class="pad">
				@Html.FieldEditorFor(m => m.Password)
				@Html.FieldEditorFor(m => m.ConfirmPassword)
				<div class="field">
					<span class="label">&nbsp;</span>
					<div>@Html.SubmitButton("Change password")</div>
				</div> <!-- .field -->
			</div>
		</div>
	}
} else {
	<div class="content_front">
		<div class="pad">
			<h2>Password assistance request expired</h2>
			<p>You can resubmit your request for @Html.ActionLink("password assistance", "PasswordAssistance", "Account") if you still need help.</p>
		</div>
	</div>
}