@model TMD.Models.AccountEditModel
@{ ViewBag.Title = "Account"; Layout = "~/Views/Shared/SiteLayout.cshtml"; }

@section Scripts {
	<script type="text/javascript">
		$(function () { $('input[type=text]:first').focus(); });
	</script>
}

<div class="portlet x6">
	<div class="portlet-header"><h4>Edit account</h4></div>
	<div class="portlet-content">
		@using (Html.BeginForm(Mvc.Account.Edit(), FormMethod.Post, new { @class = "form" })) {
			@Html.FieldEditorFor(m => m.Email)
			@Html.FieldEditorFor(m => m.Details.Name)
			 <div class="buttonrow">@Html.SubmitButton("Save")</div>
		}
	</div>
</div>
<div class="portlet x6">
	<div class="portlet-header"><h4>Change password</h4></div>
	<div class="portlet-content">
		@using (Html.BeginForm(Mvc.Account.Edit(), FormMethod.Post, new { @class = "form" })) {
			@Html.FieldEditorFor(m => m.Password.ExistingPassword)
			@Html.FieldEditorFor(m => m.Password.NewPassword)
			@Html.FieldEditorFor(m => m.Password.ConfirmPassword)
			 <div class="buttonrow">@Html.SubmitButton("Change password")</div>
		}
	</div>
</div>