@model TMD.Models.AccountPasswordAssistanceModel
@{ ViewBag.Title = "Password Assistance"; }

@section Scripts {
	<script src="@Url.StaticContent("~/js/jquery/jquery-1.4.4.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
	    $(function () { $('input[type=text]:first').focus(); });
	</script>
}

@if (Model.AssistanceComplete) {
    <div class="content_front">
        <div class="pad">
            <h2>Please check your email</h2>
            <p>Instructions for creating a new password were emailed to <strong>@Model.Email</strong>.</p>
        </div>
    </div>
} else {
    using(Html.BeginForm("PasswordAssistance", "Account", null, FormMethod.Post, new { id = "login_form", name = "login" })) {
        <div class="content_front">
            <div class="pad">
                @if (Model.PerformHumanVerification) {
                    @Html.HiddenFor(m => m.Email)
                    @Html.HiddenFor(m => m.ConfirmEmail)
                    @Html.CaptchaFor(m => m.PerformHumanVerification)
                } else {
                    @Html.FieldEditorFor(m => m.Email)
                    @Html.FieldEditorFor(m => m.ConfirmEmail)
                }
                <div class="field">
		            <span class="label">&nbsp;</span>
		            <div>@Html.SubmitButton("Continue")</div>
	            </div> <!-- .field -->
            </div>
        </div>
    }
}
