@model TMD.Models.AccountRegistrationModel
@{ ViewBag.Title = "Register"; }

@section Scripts {
	<script src="@Url.ManagedContent("~/js/jquery/jquery-1.4.4.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () { $('input[type=text]:first').focus(); });
	</script>
}

@if (Model.RegistrationComplete) {
	<div class="content_front">
		<div class="pad">
			<h2>Please verify your email</h2>
			<p>An email was sent to <strong>@Model.Email</strong> with a link to complete your registration.</p>
		</div>
	</div>
} else {
	using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new { id = "login_form", name = "login" })) {
		<div class="content_front">
			<div class="pad">
				@if (Model.PerformHumanVerification) {
					@Html.HiddenFor(m => m.Email)
					@Html.HiddenFor(m => m.ConfirmEmail)
					@Html.HiddenFor(m => m.Password)
					@Html.HiddenFor(m => m.ConfirmPassword)
					@Html.CaptchaFor(m => m.PerformHumanVerification)
					<div class="field">
						<span class="label">&nbsp;</span>
						<div>@Html.SubmitButton("Continue")</div>
					</div> <!-- .field -->
				} else {
					@Html.FieldEditorFor(m => m.Email)
					@Html.FieldEditorFor(m => m.ConfirmEmail)
					@Html.FieldEditorFor(m => m.Password)
					@Html.FieldEditorFor(m => m.ConfirmPassword)
					<div class="field">
						<span class="label">&nbsp;</span>
						<div>
							@Html.SubmitButton("Register")
							&nbsp;&nbsp;
							@Html.ActionLink("Already have an account?", "Logon", "Account")
						</div>
					</div> <!-- .field -->
				}
			</div>
		</div>
	}
}
