@model ImportSiteModel

<div class="portlet x12 Site">
  <div class="portlet-header">
    <h4>Enter site</h4>
  </div>

  <div class="portlet-content">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.IsEditing)
    @Html.HiddenFor(m => m.IsRemovable)
    @Html.FieldEditorFor(m => m.Name)
    @Html.FieldEditorFor(m => m.State)
    @Html.FieldEditorFor(m => m.County)
    @Html.FieldEditorFor(m => m.OwnershipType)
    @Html.FieldEditorFor(m => m.Coordinates)
    @Html.FieldEditorFor(m => m.OwnershipContactInfo)
    @Html.FieldEditorFor(m => m.MakeOwnershipContactInfoPublic)
    @Html.FieldEditorFor(m => m.Comments)
    @Html.FieldEditorFor(m => m.Photos)

    <div class="buttonrow">
      @Html.ImportInnerActionButton(
          text: Model.HasOptionalError ? "Save, ignoring optional errors" : "Save",
          level: ImportModelLevel.Site, id: Model.Id,
          action: Model.HasOptionalError ? ImportModelAction.SaveIgnoringOptionalErrors : ImportModelAction.SaveUnlessOptionalErrors)

      @if (Model.IsRemovable)
      {
        @Html.ImportInnerActionButton("Remove", ImportModelLevel.Site, Model.Id, ImportModelAction.Remove, ButtonColor.Grey)
      }
    </div>
  </div>
</div>
