<footer class="navbar navbar-default">
  <div class="container">
    <p class="pull-left text-muted navbar-text">
      <a href="http://ents-bbs.org/viewforum.php?f=15" target="forum">
        <b class="glyphicon glyphicon-comment"></b> Community Forum
      </a>

      <br />

      <a href="mailto:@WebApplicationRegistry.Settings.WebmasterEmail" target="email">
        <b class="glyphicon glyphicon-envelope"></b> Technical Help
      </a>
    </p>

    @using (Html.BeginForm("SetUnits", "Main", FormMethod.Post, new { @class = "pull-right navbar-form" }))
    {
      @Html.AntiForgeryToken()
      @Html.Hidden("returnUrl", Request.Url)

      <div class="btn-group">
        <button type="submit" name="Units" value="Feet" class="btn btn-default @(new Units[] { Units.Feet, Units.Default }.Contains(Request.Cookies.GetUnitsPreference()) ? "active" : null)">
          ft
        </button>
        <button type="submit" name="Units" value="Meters" class="btn btn-default @(Units.Meters == Request.Cookies.GetUnitsPreference() ? "active" : null)">
          m
        </button>
        <button type="submit" name="Units" value="Yards" class="btn btn-default @(Units.Yards == Request.Cookies.GetUnitsPreference() ? "active" : null)">
          yd
        </button>
      </div>
    }
  </div>
</footer>