<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="@Url.StaticContent("~/favicon.ico")" rel="Shortcut Icon" type="image/x-icon" />

  <title>@ViewBag.Title - TMD</title>

  @Styles.Render("~/css/vendor/main-bundle")
  @Styles.Render("~/css/main.css")
  @RenderSection("Styles", required: false)

  @Html.Partial("GoogleAnalyticsScript")
  @*TODO: block IE 8*@
  @*TODO: warn about javascript*@
</head>
<body>
  <noscript>

  </noscript>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="@Url.Action("Index", "Main")">
          <img src="@Url.StaticContent("~/images/logo-sm.png")" alt="Tree Measurement Database" />
        </a>
      </div>

      <div class="navbar-collapse collapse">
        @Html.Partial("_BootstrapNavbar")
      </div>
    </div>
  </div>

  @if (IsSectionDefined("Header"))
  {
    <header class="container">
      @RenderSection("Header", false)
    </header>
  }

  <div class="container">
    @RenderBody()
  </div>

  @Html.Partial("_BootstrapFooter")
  @Html.Partial("~/Views/Main/_About.cshtml")

  @Scripts.Render("~/js/vendor/main-bundle")
  @RenderSection("Scripts", required: false)
</body>
</html>
