<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <style type="text/css">.ShowIfJavascriptEnabled { display: block; } .ShowIfJavascriptDisabled { display: none; }</style>
    <noscript><style type="text/css">.ShowIfJavascriptEnabled { display: none; } .ShowIfJavascriptDisabled { display: block; }</style></noscript>
    <link href="@Url.StaticContent(Links.images.icon_ico)" rel="Shortcut Icon" type="image/x-icon" />
    <link href="@Url.StaticContent(Links.css.jquery.jquery_ui_1_8_7_custom_css)" rel="Stylesheet" type="text/css" />
    @Styles.Render("~/css/Shared.css")
    @RenderSection("Styles", false)
</head>
<body>
    <div id="wrapper" class="clearfix">
        <div id="top">
            <div id="header">
                <h1>@Html.ActionLink("Trees Database", MVC.Main.Index())</h1>
                @{ Html.RenderAction(MVC.Account.AccountWidget()); }
            </div>
            <!-- #header -->
            <div id="nav">
                <ul class="mega-container mega-grey">
                    @{ Html.RenderAction(MVC.Map.MenuWidget(ViewContext.Controller is TMD.Controllers.MapController));
                       Html.RenderAction(MVC.Browse.MenuWidget(ViewContext.Controller is TMD.Controllers.BrowseController));
                       Html.RenderAction(MVC.Import.MenuWidget(ViewContext.Controller is TMD.Controllers.ImportController));
                       Html.RenderAction(MVC.Search.MenuWidget()); }
                </ul>
            </div>
            <!-- #nav -->
        </div>
        <!-- #top -->
        @if (ViewData.GetJavascriptRequired()) {
            <div class="content xfluid ShowIfJavascriptDisabled">
                <div class="portlet x12 ">
                    <div class="portlet-header">
                        <h4>
                            This page requires javascript.</h4>
                    </div>
                    <div class="portlet-content">
                        <p>
                            Please enable javascript in your browser's settings and then refresh this page.</p>
                    </div>
                </div>
            </div>
        }
        <div id="content" class="@(ViewData.GetJavascriptRequired() ? "content xfluid ShowIfJavascriptEnabled" : "content xfluid")">
            @RenderBody()
        </div>
        <!-- #content -->
        @if (ViewData.GetRenderFooter()) {
            <div id="footer">
                <p style="float: left; width: 200px;">
                    <a href="@Url.Action(MVC.Main.Index())">
                        <img id="footer-logo" src="@Url.StaticContent(Links.images.Theme.icon_png)" alt="Trees Database"/>
                    </a>
                    <a href="http://ents-bbs.org/viewforum.php?f=15" target="nts-forum">Community Forum</a>
                    <br />
                    <a href="mailto:@WebApplicationRegistry.Settings.WebmasterEmail" target="email">Website Technical Help</a>
                    <br />
                    &copy;@DateTime.Today.Year Trees Database
                </p>
                @using(Html.BeginForm(MVC.Main.SetUnits(), FormMethod.Post, new { style = "float: right;" })) {
                    <span>Units:</span>
                    @Html.Hidden("returnUrl", Request.Url)
                    if (Units.Default == Request.Cookies.GetUnitsPreference() || Units.Feet == Request.Cookies.GetUnitsPreference()) {
                        @(Html.SubmitButton("ft", "units", "Feet", size: ButtonSize.Small, color: ButtonColor.Default)) 
                    } else {
                        @(Html.SubmitButton("ft", "units", "Feet", size: ButtonSize.Small, color: ButtonColor.Orange)) 
                    }
                    if (Units.Meters == Request.Cookies.GetUnitsPreference()) { 
                        @(Html.SubmitButton("m", "units", "Meters", size: ButtonSize.Small, color: ButtonColor.Default)) 
                    } else {
                        @(Html.SubmitButton("m", "units", "Meters", size: ButtonSize.Small, color: ButtonColor.Orange)) 
                    }
                    if (Units.Yards == Request.Cookies.GetUnitsPreference()) { 
                        @(Html.SubmitButton("yd", "units", "Yards", size: ButtonSize.Small, color: ButtonColor.Default))
                    } else {
                        @(Html.SubmitButton("yd", "units", "Yards", size: ButtonSize.Small, color: ButtonColor.Orange))
                    }
                }
            </div>
            <!-- #footer -->
        }
    </div>
    <!-- #wrapper -->
    <script src="@Url.StaticContent(Links.js.jquery.jquery_1_4_4_min_js)" type="text/javascript"></script>
    <script src="@Url.StaticContent(Links.js.jquery.jquery_ui_1_8_7_custom_min_js)" type="text/javascript"></script>
    <script type="text/javascript">
      var applicationRootUrl = '@Request.ApplicationPath.TrimEnd('/')';
    </script>
    @Scripts.Render("~/js/Plugins.js")
    @Scripts.Render("~/js/Shared.js")
    <script type="text/javascript">
      $(function () { $('body').InitializeUi(); });
    </script>
    @RenderSection("Scripts", false)
    @if (WebApplicationRegistry.Settings.EnableGoogleAnalytics) {
        @Html.Partial("GoogleAnalyticsScript", WebApplicationRegistry.Settings.GoogleAnalyticsPropertyID)
    }
</body>
</html>
