<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <style type="text/css">.ShowIfJavascriptEnabled { display: block; } .ShowIfJavascriptDisabled { display: none; }</style>
    <noscript><style type="text/css">.ShowIfJavascriptEnabled { display: none; } .ShowIfJavascriptDisabled { display: block; }</style></noscript>
    <link href="@Url.ManagedContent("~/images/favicon.ico")" rel="Shortcut Icon" type="image/x-icon" />
    <link href="@Url.ManagedContent("~/css/jquery/jquery-ui-1.8.7.custom.css")" rel="Stylesheet" type="text/css" />
    @Styles.Render("~/css/Shared.css")
    @RenderSection("Styles", false)
</head>
<body>
    <div id="wrapper" class="clearfix">
        <div id="top">
            <div id="header">
                <h1>@Html.ActionLink("Trees Database", "Index", "Main")</h1>
                @{ Html.RenderAction("AccountWidget", "Account"); }
            </div>
            <!-- #header -->
            <div id="nav">
                <ul class="mega-container mega-grey">
                    @Html.Action("MenuWidget", "Map", new { isSelected = ViewContext.Controller is TMD.Controllers.MapController })
                    @Html.Action("MenuWidget", "Browse", new { isSelected = ViewContext.Controller is TMD.Controllers.BrowseController })
                    <li class="mega">
                        <a href="@Url.Action("Index", "Import")" class="mega-link">Import</a>
                    </li>
                    @Html.Action("MenuWidget", "Main", new { isSelected = ViewContext.Controller is TMD.Controllers.MainController })
                    @Html.Action("MenuWidget", "Search")
                </ul>
            </div>
            <!-- #nav -->
        </div>
        <!-- #top -->
        @if (ViewData.GetJavascriptRequired()) {
            <div class="content xfluid ShowIfJavascriptDisabled">
                <div class="portlet x12 ">
                    <div class="portlet-header">
                        <h4>
                            This page requires javascript.</h4>
                    </div>
                    <div class="portlet-content">
                        <p>
                            Please enable javascript in your browser's settings and then refresh this page.</p>
                    </div>
                </div>
            </div>
        }
        <div id="content" class="@(ViewData.GetJavascriptRequired() ? "content xfluid ShowIfJavascriptEnabled" : "content xfluid")">
            @RenderBody()
        </div>
        <!-- #content -->
        @if (ViewData.GetRenderFooter()) {
            <div id="footer">
                <p style="float: left;">
                    <a href="@Url.Action("Index", "Main")">
                        <img id="footer-logo" src="@Url.ManagedContent("~/images/Theme/icon.png")" alt="Trees Database"/>
                    </a>
                    Contact: Steve or Mitch Galehouse
                    <br />
                    Email: <a href="mailto:@WebApplicationRegistry.Settings.WebmasterEmail">@WebApplicationRegistry.Settings.WebmasterEmail</a>
                    <br />
                    &copy;: @DateTime.Now.Year Trees Database
                </p>
                @using(Html.BeginForm("SetUnits", "Main", null, FormMethod.Post, new { style = "float: right;" })) {
                    <span>Units:</span>
                    @Html.Hidden("returnUrl", Request.Url)
                    if (Units.Default == Request.Cookies.GetUnitsPreference() || Units.Feet == Request.Cookies.GetUnitsPreference()) {
                        @(Html.SubmitButton("ft", "units", "Feet", size: ButtonSize.Small, color: ButtonColor.Default)) 
                    } else {
                        @(Html.SubmitButton("ft", "units", "Feet", size: ButtonSize.Small, color: ButtonColor.Orange)) 
                    }
                    if (Units.Meters == Request.Cookies.GetUnitsPreference()) { 
                        @(Html.SubmitButton("m", "units", "Meters", size: ButtonSize.Small, color: ButtonColor.Default)) 
                    } else {
                        @(Html.SubmitButton("m", "units", "Meters", size: ButtonSize.Small, color: ButtonColor.Orange)) 
                    }
                    if (Units.Yards == Request.Cookies.GetUnitsPreference()) { 
                        @(Html.SubmitButton("yd", "units", "Yards", size: ButtonSize.Small, color: ButtonColor.Default))
                    } else {
                        @(Html.SubmitButton("yd", "units", "Yards", size: ButtonSize.Small, color: ButtonColor.Orange))
                    }
                }
            </div>
            <!-- #footer -->
        }
    </div>
    <!-- #wrapper -->
    <script src="@Url.ManagedContent("~/js/jquery/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.ManagedContent("~/js/jquery/jquery-ui-1.8.7.custom.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var applicationRootUrl = '@Request.ApplicationPath.TrimEnd('/')';
    </script>
    @Scripts.Render("~/js/Plugins.js")
    @Scripts.Render("~/js/Shared.js")
    <script type="text/javascript">
        $(function () { $('body').InitializeUi(); });
    </script>
    @RenderSection("Scripts", false)
    @if (WebApplicationRegistry.Settings.EnableGoogleAnalytics) {
        @Html.Partial("GoogleAnalyticsScript", WebApplicationRegistry.Settings.GoogleAnalyticsPropertyID)
    }
</body>
</html>
