<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.ManagedContent("~/images/icon.ico")" rel="Shortcut Icon" type="image/x-icon" />
    <link href="@Url.ManagedContent("~/css/jquery/jquery-ui-1.8.7.custom.min.js")" rel="Stylesheet" type="text/css" />
    @Styles.Render("~/css/Shared.css")
    @Styles.Render("~/css/LoginOnly.css");
    @RenderSection("Styles", false)
</head>
<body>
    <div id="login">
        <h1 id="title">@Html.ActionLink("Trees Database", "Index", "Main")</h1>
        <div id="login-body" class="clearfix">
            @RenderBody()
        </div>
    </div>
    <!-- #login -->
    @RenderSection("Scripts", false)
    @if (WebApplicationRegistry.Settings.EnableGoogleAnalytics) {
        @Html.Partial("GoogleAnalyticsScript", WebApplicationRegistry.Settings.GoogleAnalyticsPropertyID)
    }
</body>
</html>
