<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.ManagedContent(Links.images.icon_ico)" rel="Shortcut Icon" type="image/x-icon" />
    <link href="@Url.ManagedContent(Links.css.jquery.jquery_ui_1_8_7_custom_css)" rel="Stylesheet" type="text/css" />
    <link href="@Url.ManagedContent(Links.css.Shared_css, Links.css.Shared_min_css)" rel="Stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
    <div id="wrapper" class="clearfix">
        <div id="top">
            <div id="header">
                <h1>@Html.ActionLink("Trees Database", Mvc.Main.Index())</h1>
                @{ Html.RenderAction(Mvc.Account.AccountWidget()); }
            </div>
            <!-- #header -->
            <div id="nav">
                <ul class="mega-container mega-grey">
                    @{ Html.RenderAction(Mvc.Main.MenuWidget(ViewContext.Controller is TMD.Controllers.MainController));
                       Html.RenderAction(Mvc.Import.MenuWidget(ViewContext.Controller is TMD.Controllers.ImportController));
                       Html.RenderAction(Mvc.Browse.MenuWidget(ViewContext.Controller is TMD.Controllers.BrowseController));
                       Html.RenderAction(Mvc.Map.MenuWidget(ViewContext.Controller is TMD.Controllers.MapController)); }
                </ul>
            </div>
            <!-- #nav -->
        </div>
        <!-- #top -->
        @if (ViewData.GetJavascriptRequired())
        { 
            <div class="content xfluid LacksJavascript">
                <div class="portlet x12 ">
                    <div class="portlet-header">
                        <h4>
                            This page requires javascript.</h4>
                    </div>
                    <div class="portlet-content">
                        <p>
                            Please enable javascript in your browser's settings and then refresh this page.</p>
                    </div>
                </div>
            </div>
        }
        <div id="content" class="@(ViewData.GetJavascriptRequired() ? "content xfluid RequiresJavascript" : "content xfluid")">
            @RenderBody()
        </div>
        <!-- #content -->
        <div id="footer">
            <p>
                <a href="@Url.Action(Mvc.Main.Index())">
                    <img id="footer-logo" src="@Url.ManagedContent(Links.images.Theme.icon_png)" alt="Trees Database"/>
                </a>
                <br />
                Contact: <a href="mailto:@WebApplicationRegistry.Settings.WebmasterEmail">@WebApplicationRegistry.Settings.WebmasterEmail</a>
                <br />
                &copy;@DateTime.Now.Year Trees Database
            </p>
        </div>
        <!-- #footer -->
    </div>
    <!-- #wrapper -->
    <script src="@Url.ManagedContent(Links.js.jquery.jquery_1_4_4_min_js)" type="text/javascript"></script>
    <script src="@Url.ManagedContent(Links.js.jquery.jquery_ui_1_8_7_custom_min_js)" type="text/javascript"></script>
    <script src="@Url.ManagedContent(Links.js.Plugins_js, Links.js.Plugins_min_js)" type="text/javascript"></script>
    <script src="@Url.ManagedContent(Links.js.Shared_js, Links.js.Shared_min_js)" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () { $('body').InitializeUi(); });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
