@model MainModel
@{ ViewBag.Title = "About"; }

@section Styles {
	<style type="text/css">
		.info_table .value { font-size: 14px; width: 15%; }
		.info_table tr.bottom td { border-bottom: none; }
	</style>
}

<div class="x6 xColumn">

	<div class="portlet x12">
		<div class="portlet-header"><h4>An experimental project with utilization by the <a href="http://www.nativetreesociety.org/" target="_blank" style="white-space: nowrap;">Native Tree Society</a> in mind</h4></div>
		<div class="portlet-content">
			<p>
				The Trees Database allows you to add, search, sort, and download information concerning native (and exotic) tree species, including height, girth dimension, geographic location, and site specifics. 
				The intent is to include as many tree species from as many locations as possible to make it possible to compare tree species' size potentials across their native ranges.
			</p>

			<div class="portlet x4" style="margin-left: 0;">
				<div class="portlet-header"><h4><a href="@Url.Action(MVC.Import.Index())">Import</a></h4></div>		
				<div class="portlet-content">
					<p>
						Add your tree data to the site using this page. Several formats for importing are functional, with more to follow.
					</p>
				</div>
			</div>


			<div class="portlet x4">
				<div class="portlet-header"><h4><a href="@Url.Action(MVC.Browse.Index())">Browse and export</a></h4></div>
				<div class="portlet-content">
					<p>
						Review and download data using several functions.
					</p>
				</div>
			</div>

			<div class="portlet x4">
				<div class="portlet-header"><h4><a href="@Url.Action(MVC.Map.Index())">Map</a></h4></div>
				<div class="portlet-content">
					<p>
						View trees and site locations on Google Maps.
					</p>
				</div>
			</div>

			<p style="clear: left;">
			</p>
		</div>
	</div>

	<div class="portlet x12">
		<div class="portlet-header"><h4>Recently imported trees and sites</h4></div>
		<div class="portlet-content">
			<ul class="gallery">
				@foreach (var photo in Model.RecentPhotos) { 
					<li>@Html.Photo(photo)</li>
				}
			</ul>
			<div class="xbreak"></div>
		</div>
	</div>

</div>

<div class="x6 xColumn">

	<div class="portlet x12">
		<div class="portlet-header">
			<h4>Recent update release notes</h4>
		</div>
		<div class="portlet-content">
			<table cellspacing="0" class="info_table">
				<tr>
					<td class="value">
						Upcoming
					</td>
					<td class="full">
						<ul>
							<li><a href="@WebApplicationRegistry.Settings.SuggestionsUrl" target="_blank">Suggest or vote</a> on features and changes for an upcoming release</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="value">
						02/09/2012
					</td>
					<td class="full">
						<ul>
							<li>Added browser support for new versions of Firefox, Chrome, and Internet Explorer</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="value">
						01/29
					</td>
					<td class="full">
						<ul>
							<li>Fixed bug in import wizard</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="value">
						01/23
					</td>
					<td class="full">
						<ul>
							<li>Added sortable columns to Site grids for RHI5, RHI10, RGI5, and RGI10</li>
							<li>Added sortable columns to Species grids for Max height, Max girth, and Max crown spread</li>
							<li>Fixed bug in paging functionality for grids in Browse page</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="value">
						01/13
					</td>
					<td class="full">
						<ul>
							<li>Improved responsiveness of all grids</li>
							<li>Added Suggestions link on the right side of the main navigation bar to allow users to submit and vote on feature suggestions</li>
							<li>Improved responsiveness of loading for pages that require Javascript support</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="value">
						01/09
					</td>
					<td class="full">
						<ul>
							<li>Implemented paging and sorting functions for many grids that previously lacked this functionality</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="value">
						01/08
					</td>
					<td class="full">
						<ul>
							<li>Fixed bug preventing usage of the Enter key to submit grid column filters in various browsers</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="value">
						01/03
					</td>
					<td class="full">
						<ul>
							<li>Implemented mechanism for configuring display units on the right side of the footer</li>
							<li>Fixed some alignment issues in page layout</li>
						</ul>
					</td>
				</tr>
				<tr class="bottom">
					<td class="value">
						12/23/2011
					</td>
					<td class="full">
						<ul>
							<li>Added footer to page layout with contact information</li>
							<li>Tightened supported browser list until more testing is performed</li>
							<li>Fixed some styling bugs</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>

</div>